<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">

    <script src="vue.js"></script>
    <title>Techno</title>
</head>
<body>
    <div id="app">

        <header class="header">
            <img class="logo" src="./assets/techno.svg" alt="Techno">
            <div class="carrinho-menu" @click="carrinhoAtivo = true">{{carrinhoTotal | numeroPreco}} | {{carrinho.length}}</div>
            
        </header>



        <section class="produtos">

            <div v-for="item in produtos" @click="abrirModal(item.id)" :key="item.id" class="produto">

                <img :src="item.img" :alt="item.nome" class="produto-img">
                <div class="produto-info">
                    <span class="produto-preco">{{item.preco | numeroPreco}}</span>
                    <h2 class="produto-titulo">{{item.nome}}</h2>
                </div>
                
            </div>
        </section>




        <section class="modal" v-if="produto" @click="fecharModal">
        <div class="modal-container">
            <div class="modal-img">
                <img :src="produto.img" :alt="produto.nome">
            </div>

            <div class="modal-dados">
                <button @click="produto = false" class="modal-fechar">X</button>
                <span class="modal-preco">{{produto.preco | numeroPreco}}</span>
                <h2 class="modal-titulo">{{produto.nome}}</h2>
                <p>{{produto.descricao}}</p>
                <button v-if="produto.estoque > 0" class="modal-btn" @click="adicionarItem">Adicionar item</button>
                <button v-else class="modal-btn esgotado" disabled>Produto Esgotado</button>
            </div>

            <div class="avaliacoes">
                <h2 class="avaliacoes-subtitulo">Avaliações</h2>
                <ul>
                    <li v-for="avaliacao in produto.avaliacoes" class="avaliacao">
                    <p class="avaliacao-descricao">{{avaliacao.descricao}}</p>
                    <p class="avaliacao-usuario">{{avaliacao.nome}} | {{avaliacao.estrelas}} estrelas</p>
                    </li>
                </ul>
            </div>  
        </div>
        </section>



        <section class="carrinho-modal" :class="{ativo: carrinhoAtivo}" @click="clickForaCarrinho">
            <div class="carrinho-container">
                <button class="carrinho-fechar" @click="carrinhoAtivo = false">X</button>
                <h2 class="carrinho-titulo">Carrinho</h2>


                <div v-if="carrinho.length > 0">
                    <ul class="carrinho-lista">
                        <li class="carrinho-item" v-for="(item, index) in carrinho">
                            <p>{{item.nome}}</p>
                            <p class="carrinho-preco">{{item.preco | numeroPreco}}</p>
                            <button class="carrinho-remover" @click="removerItem(index)">X</button>
                        </li>                    
                    </ul>
                    <p class="carrinho-total">{{carrinhoTotal | numeroPreco}}</p>
                    <button class="carrinho-finalizar">Finaliza Compra</button>
                </div>
                <p v-else>O carrinho está vazio</p>
            </div>
        </section>




        <div class="alerta" :class="{ativo: alertaAtivo}">
        
            <p class="alerta-mensagem">{{mensagemAlerta}}</p>
        </div>
    </div>

    <script src="app.js"></script>
</body>
</html>